*{
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	height: 100%;
	font-size: 15px;
	font-weight: normal;
}

.background{
	width: 100%;
	height: 100%;
	background-image: url(../images/white1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow-y: auto;
}

.nav{
	width: 270px;
	height: 70px;
	position: absolute;
	top: 25%;
	left: 0;
}

.nav a{
	text-decoration: none;
	font-size: 30px;
	font-family: century gothic;
	font-weight: bold;
	color: white;
	background-color: black;
	display: inline-block;
	height: 50px;
	margin: 5px 10px;
	display: inline-block;
	line-height: 50px;
	text-align: center;
	transition: 155ms
}

a.active{
	width: 100%;
	height: 100%;
	background-color: #00ccff;
	color: white;
	line-height: 70px;
}

.nav a:hover{
	width: 100%;
	height: 100%;
	background-color: #00ccff;
	color: white;
	line-height: 70px;
}

.a, .b, .c, .d{
	width: 90%;
}

.content{
	width: 950px;
	min-height: 500px;
	height: auto;
	position: absolute;
	top: 15%;
	right: 0;
}

.home{
	position: absolute;
	right: 375px;
	bottom: 0px;
	color: black;
	font-family: century gothic;
	text-transform: uppercase;
	padding: 15px 25px;
}
.home img{
	border-radius: 50%;
}
.home h1{
	right: 0;
	font-size: 50px;
	padding-right: 0;
	border-collapse: separate;
	border-bottom: 5px solid black;
}

.home h3{
	font-size: 20px
}

.aboutme{
	display: none;
	position: absolute;
	right: 40px;
	top : 0;
	color: black;
	font-family: century gothic;
	padding: 35px 75px;
}

.aboutme p{
	font-size: 18px;
	margin: 10px;
	padding: 0;
}

.gallery{
	position: absolute;
	right: 0;
	top: 0%;
	color: red;
	padding: 0 40px;
	display: none;
}

.gallery .image{
	width: 22%;
	margin: 3%;
	float: left;
}

.image img{
	width: 100%;
	transform: scale(1);
	transition: 400ms;
}

.image img:hover{
	transform: scale(1.1);
}

.findme{
	display: none;
	position: absolute;
	top: 0;
	text-align: center;
}

.findme ul{
	margin: 0;
	padding: 90px 90px;
}

.findme li{
	display: inline-block;
	margin: 60px;
	list-style: none;
}

.findme li a{
	color: black;
	text-decoration: none;
	font-size: 60px;
	transform: scale(1);
	transition: 200ms;
}

.findme li a:hover{
	color: #00ccff;
	font-size: 65px;
}